h1 {
    color: red
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
}

.navbar-right a {
    text-decoration: none;
    color: #333;
}

.navbar-right li {
    list-style: none;
    padding-left: 20px;
}

.navbar-right {
    display: flex;
}

.megabiglargewrapper {
    max-width: 1280px;
    margin: auto;
    padding: 0 20px 0 20px;
}